@use  "../../../../_variables.scss";
@use "../../../../wbu-ressources-clean.scss" as *;
@use "../../../../atome/typography/default";



.lock-smithing-service-handler{
   margin-top: $space_inner_top;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
    .img-handler{
        position: relative;
    }
    .lock-info-section{
        padding: 0 0 0 $wbu-margin * 3 ;
        &::before{
            content: "";
            width: 70px;
            height: 3px;
            background: $wbu-color-secondary;
            display: block;
            margin-top: $space-top;
            margin-bottom: $space_bottom * 0.2;
        }
        .title{
            font-size: $wbu-title-font-size ;
            font-weight: bold;
            margin-bottom: $space_bottom * 0.7;
        }
        .description{
            font-size: $wbu-h1-font-size;
            display: flex;
            flex-direction: column;
            text-align: start;
            justify-content: space-between;
            align-items: flex-start;
        }
        .lists{
            display: flex;
            @include media-max(MD) {
                display: block;
              }
        }
        .all-services{
            margin-top: $wbu-margin;
            padding-left: 0;
            flex-direction: column;
            text-align: center;
            justify-content: start;
            align-items: flex-start;
            display: flex;
            .list-services{
                color: $wbu-color-text;
               
                .element{
                    list-style-type: none;
                    margin-top: $wbu-margin;
                    
                    &::before{
                        content: "\2022";
                        color: $wbu-color-secondary;
                        font-weight: bold;

                    }
                }
            }
        }
    }
}